{% if lastExecution is defined and lastExecution is not null %}
    {% set state = lastExecution.state %}
{% endif %}

{% if state is defined %}
    {% if state == 'success' %}
        {% set badgeClass = 'badge-success' %}
    {% elseif state == 'error' %}
        {% set badgeClass = 'badge-danger' %}
    {% else %}
        {% set badgeClass = 'badge-warning' %}
    {% endif %}
    {% if lastExecution is defined %}
        <a class="badge {{ badgeClass }}"
           href="{{ path('execution_show', {id: lastExecution.id}) }}">{{ state }}</a>
    {% else %}
        <span class="badge {{ badgeClass }}">{{ state }}</span>
    {% endif %}
{% else %}
    <span class="badge badge-secondary">N/A</span>
{% endif %}
