{% extends '@AutobusBus/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.1/jsoneditor.min.css"
          integrity="sha512-ZS7UFcBWqviCnOtlrIz47Z10BQYs/qYJLIh/uUIVHRBjJ2zDVZ7ALvPssEqRLDObR66r5fEaY8NaLvIOOxQ1Vw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.1/jsoneditor.min.js"
            integrity="sha512-NA6kPrAqyMsKDzpFPDLTE9TJn1iwCXSQOSIpdWBgVJMrnNIeYZECh8ePT5QI1tBVN6ZiTklWW3RKOLlxQDfMkA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(function () {
            // Active json editor
            var container = document.getElementById('json-editor');
            var jsonEditorOptions = {
                mode: 'code'
            };
            var jsonEditor = new JSONEditor(container, jsonEditorOptions);
            var content = {{ job.config|raw }};
            jsonEditor.set(content);

            // Set json value on save
            $('#job-edit').on('submit', function () {
                var jsonValue = jsonEditor.get();
                jsonValue = JSON.stringify(jsonValue, null, 2);
                $('#AutobusBusBundle_job_config').val(jsonValue);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ 'Job edit'|trans }}</h1>
            {{ form_start(form, {'attr': {'id': 'job-edit'}}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <p>{{ 'Config'|trans }}</p>
                <div id="json-editor"></div>
            </div>
            <div class="btn-group">
                <input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary"/>
                <a href="#" class="btn btn-danger btn-delete-modal">
                    {{ 'Delete'|trans }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include("@AutobusBus/job/partials/_delete_modal.html.twig") %}
{% endblock %}