{% extends 'AutobusBusBundle::base.html.twig' %}

{% block content %}
    <h1>{{ 'Job edit'|trans }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="text-center">
            <input type="submit" value="{{ 'Save'|trans }}" class="btn btn-primary btn-sm" />
        </div>
    {{ form_end(edit_form) }}

    <div class="text-center mtl">
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-sm btn-danger" value="{{ 'Delete'|trans }}">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
