{% extends '@AutobusBus/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ 'Jobs list'|trans }}</h1>
        </div>
        <div class="col text-right">
            <a href="{{ path('job_new') }}" class="btn btn-primary">{{ 'Create a new job'|trans }}</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ 'Name'|trans }}</th>
                <th scope="col">{{ 'Type'|trans }}</th>
                <th scope="col">{{ 'Details'|trans }}</th>
                <th scope="col">{{ 'State'|trans }}</th>
                <th scope="col">{{ 'Last run'|trans }}</th>
                <th scope="col">{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                {% set lastExecution = job.lastExecution %}
                <tr>
                    <td>
                        {{ job.name }}
                    </td>
                    <td>
                        <span class="badge badge-secondary">{{ job.type|upper }}</span>
                    </td>
                    <td>{% include("@AutobusBus/job/partials/_list_details_" ~ job.type ~ ".html.twig") %}</td>
                    <td>
                        {% include '@AutobusBus/job/partials/_state.html.twig' with {'lastExecution': lastExecution} only %}
                    </td>
                    <td>
                        {% if lastExecution %}
                            <a href="{{ path('execution_show', {id: lastExecution.id}) }}">{{ lastExecution.date|date('d/m/Y H:i') }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('job_show', { 'id': job.id }) }}" class="btn btn-sm btn-primary" data-toggle="tooltip"
                           data-placement="top" title="{{ 'View'|trans }}">
                            <span class="fas fa-eye"></span>
                        </a>
                        <a href="{{ path('job_edit', { 'id': job.id }) }}" class="btn btn-sm btn-secondary" data-toggle="tooltip"
                           data-placement="top" title="{{ 'Edit'|trans }}">
                            <span class="fas fa-edit"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
