{% extends '@AutobusBus/base.html.twig' %}

{% block content %}
    <h1>{{ 'Execution'|trans }}</h1>

    <h2>{{ 'Detail'|trans }}</h2>
    <table class="table table-condensed table-striped">
        <tbody>
        <tr>
            <td>{{ 'Job'|trans }}</td>
            <td><a href="{{ path('job_show', {id: execution.job.id}) }}">{{ execution.job.name }}</a></td>
        </tr>
        <tr>
            <td>{{ 'State'|trans }}</td>
            <td>
                {% include '@AutobusBus/job/partials/_state.html.twig' with {'state': execution.state} only %}
            </td>
        </tr>
        <tr>
            <td>{{ 'Date'|trans }}</td>
            <td>{{ execution.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td>{{ 'Caller'|trans }}</td>
            <td>{{ execution.caller }}</td>
        </tr>
        <tr>
            <td>{{ 'Duration'|trans }}</td>
            <td>{{ execution.duration }} ms</td>
        </tr>
        {% if  execution.canBeReRun %}
            <tr>
                <td>{{ 'Rerun'|trans }}</td>
                <td>
                    <a href="{{ path('execution_show', { 'id': execution.id, 'reRun': true }) }}" class="btn btn-sm btn-primary" data-toggle="tooltip"
                       data-placement="top" title="{{ 'Rerun execution'|trans }}">
                        <span class="fas fa-play"></span>
                    </a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h2>{{ 'Request'|trans }}</h2>
    <pre>{{ execution.request }}</pre>

    <h2>{{ 'Response'|trans }}</h2>
    <pre>{{ execution.response }}</pre>

    <h2>{{ 'Logs'|trans }}</h2>
    <pre>{{ execution.logs }}</pre>
{% endblock %}
