{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {% if suffix|default(false) %}
                <div class="input-group">
                    {{- form_widget(form) -}}
                    <span class="input-group-addon" id="{{ id }}-addon">{{ suffix }}</span>
                </div>
            {% else %}
                {{- form_widget(form) -}}
            {% endif %}
            {{- form_errors(form) -}}
            <div class="help-block with-errors">
                {% if help|default(false) %}
                    <div class="help-msg">
                        <i class="fa fa-caret-up"></i> {{ help|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
{##}</div>
{%- endblock form_row %}

{% block checkbox_radio_row -%}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            <div class="help-block with-errors"></div>
        </div>
    </div>
{% endspaceless %}
{%- endblock checkbox_radio_row %}

{% block submit_row -%}
{% spaceless %}
    <div class="form-group">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            <div class="help-block with-errors"></div>
        </div>
    </div>
{% endspaceless %}
{% endblock submit_row %}

{% block reset_row -%}
{% spaceless %}
    <div class="form-group">
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            <div class="help-block with-errors"></div>
        </div>
    </div>
{% endspaceless %}
{% endblock reset_row %}
